:root{
    --body-color: white;
   /* --color-white: white; */

    --text-color: purple;
    --text-color-third: rgb(37, 37, 54);
    
    --first-color: purple;
    --first-color-hover: white;

    --second-color: rgb(24, 156, 196);
    --third-color: yellow;
    --first-shadow-color: black;
}

